<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>ar-view-ts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <a-scene embedded vr-mode-ui="enabled: false;" arjs="debugUIEnabled: false;">

    <a-marker preset="hiro">
        <a-box position="0 0.5 0" material="color: red; transparent: true; opacity: .5;"></a-box>
    </a-marker>

    <a-marker preset="custom" type="pattern" url="patterns/pattern-blockm.patt">
        <a-box position="0 0.5 0" scale="2 2 2" material="color: green; transparent: true; opacity: .5;"></a-box>
        <a-entity position="0 3 0.5" gltf-model="url(models/snow-globe-model/model.gltf)"></a-entity>
    </a-marker>

    <a-entity camera></a-entity>

  </a-scene>
  
</ion-content>
