<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">
    <p>TODO: instructions</p>
  </div>

  <ion-card>
    <ion-list lines="none">
      <ion-item [routerLink]="['/ar-view']" detail>
        <ion-icon slot="start" name="aperture"></ion-icon>
        <ion-label>AR View</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-list lines="none">
      <ion-item [routerLink]="['/ar-view-ts']" detail>
        <ion-icon slot="start" name="aperture"></ion-icon>
        <ion-label>AR.js Typscript Edition</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

</ion-content>
