<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error aut consectetur quaerat. Illum tempore odio optio! Repudiandae, dicta consequatur culpa amet iure unde nostrum veniam corrupti quisquam, consequuntur, fugiat ullam!</p>
  </div>

  <ion-card>
    <ion-list lines="none">
      <ion-item [routerLink]="['/ar-view']" detail>
        <ion-icon slot="start" name="aperture"></ion-icon>
        <ion-label>AR Test</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
